@tailwind base;
@tailwind components;
@tailwind utilities;

.bar{
  overflow-y: scroll;
  height: 100vh;
  
}

.bar::-webkit-scrollbar { 
  width: 5px; 
}

.bar::-webkit-scrollbar-track { 
  background: rgb(202, 201, 201);
  box-shadow: inset 0 0 5px grey; 
}

.bar::-webkit-scrollbar-thumb { 
  background: grey; 
}

